<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Contact Us</h1>
    <hr>
    <p>
        
    </p>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{student["first_name"]}}</td>
                <td>{{student["last_name"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>