{% extends 'base.html' %}
<html>
    {% block title %}
    
    Homepage
    
    {% endblock title %}
 {% block body %}
 <body>
   <style>
      .head{
         margin-top: 2%;
         margin-left: 2%;
         font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         font-weight: 100;
         font-style: inherit;
      }
      body{
         background-image: linear-gradient(to left, #DECBA4, #9E2181);
      }
      .text{
         text-align: center;
         margin-top: 100px;
      }.text0{
        text-align: center;
        margin-top: 50px;
      }
   </style>
   <h1 class="text">
    Why are Saharan dust storms getting more intense?</h1>
    <p class= "text0"><strong>A groundbreaking study shows that the warming planet will make dust storms more intense in the Mediterranean and the Atlantic. NEWS AND INFORMATION
      Whole Me Campaign Keynote with Brooke Ellison: Reflections on Authenticity and the Strength Found in Life with Disability
      In this keynote address to launch Harvard's Whole Me campaign, Dr. Brooke Ellison, AB '00, MPP '04, will discuss perceptions of disability and how a different, more empowered understanding must be developed. Dr. Ellison will reflect on the power of authenticity, while sharing intimate parts of her life and valuable lessons she has learned living with a physical disability. The session will include a passage from her book, Look Both Ways, and Dr. Ellison will take time to answer questions from participants.
      Harvard Affiliates Registration Link
      For more information, or to request accommodations for the event, please email disabilityresources@harvard.edu
      
      Making Art and Art Museums Accessible
      How do we think about museums as inclusive spaces, providing accessibility in all aspects of the museum experience, the exhibitions, the tours, the building, programming, and the virtual space? How can museums be areas of opportunity to embed inclusion? By using their work  at the Museum of Fine Arts, Boston as a real-world example, Jessica and Ronit will provide practical tools and techniques for individuals in any field to start thinking about how to make their environment and practice more inclusive and universally accessible. Join the Museum of Fine Arts, Boston for interactive demonstrations.
      Wednesday Oct 19 6pm to 7pm, Location: Pierce Hall, Room 209 
      CART will be provided.
      
      Registration Link here
      For more information, or to request accommodations for the event, please email disabilityresources@harvard.edu
      
       
      
      
      Disability as Diversity Celebration 
      Booths, Music, and Food celebrating Harvard's disability community.
      Wednesday Oct 26 1pm to 4pm
      Science Center Plaza
      
      ASL will be provided.
      
      For more information, or to request accommodations for the event, please email disabilityresources@harvard.edu
    </strong></p>
   </body>
 {% endblock body %}
 
 </html>