{% extends 'home1.html' %}

{% block title %}First Name: {{teacher['f_name']}}{% endblock title %}
{% block head %}
<style>
    .card{
        text-align: center;
        font-family: Verdana, Arial, sans-serif;
        display: flex;
        margin-left: 35%;
        margin-top: 100px;
        font-size: 18px;

    }
</style>

{% endblock head %}
{% block body %}

<div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{teacher["f_name"]}}</h5>
      <p class="card-text">
        Born on: {{teacher["dofbirth"]}}<br>
        Salary: ${{teacher["salary"]}} 
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Last Name: {{teacher["l_name"]}}</li>
      <li class="list-group-item">Date of Birth: {{teacher["dofbirth"]}}</li>
      <li class="list-group-item">ID#: {{teacher["id"]}}</li>
    </ul>
    <div class="card-body">
      <a href="http://127.0.0.1:5000/{{teacher["id"]}}/delete" class="card-link">Delete Teacher</a><br>
      <a href="http://127.0.0.1:5000/teacher.list" class="card-link">All Teachers</a>
    </div>
  </div>
{% endblock body %}